/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    font-size: 70%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    
    font-size: 1.6rem;
    line-height: 1.5;
}